
 
<% @robots.each do |robot| %>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <img src= "https://robohash.org/<%=robot.name %>" >
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Features</h4> 
      <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>   
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="mdl-button">CLick me for more info</a>
      <a href="/robots/<%= robot.id %>/edit">edit</a>
      <form action="/robots/<%= robot.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
</section>
<% end %>
